{% extends "reports/base.html" %}
{% block content %}
    <title>Reports</title>
    <h1>Welcome to the Reports page</h1>
    </br>
    <h4>Your report's interval is: {{ user.reports_interval }} days.</h4>
    </br>

    <form action="{% url 'run_a_single_job' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-info" type="submit" >Create new report</button>
     </form>
    <br>
    {% if not user.has_started %}
    <form action="{% url 'add_to_job_queue' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-info" type="submit" >Start Scan Interval</button>
     </form>
    {% endif %}
    </br>
    <br>
    {% if reports %}
        {% for report in reports %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2">{{ report.author.username }}</a>
                  <small class="text-muted">{{ report.date_requested|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title">Title: {{ report.title }}</a></h2>
                {% if report.risk_level == "0" %}
                    <a class="article-title"><h2>Risk Level: Low</h2></a>
                {% elif report.risk_level == "1" %}
                    <a class="article-title"><h2>Risk Level: Medium</h2></a>
                {% elif report.risk_level == "2" %}
                    <a class="article-title"><h2>Risk Level: High</h2></a>
                {% endif %}
                {% if report.status %}
                <h2><a class="article-title">Status: {{ report.status }}</a></h2>
                {% endif %}
                <p class="article-content">Domain: {{ report.domain }}</p>
                <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#report{{report.id}}">...</button>
                  <div id="report{{report.id}}" class="collapse">
                  {% for suspect in suspects %}
                      {% if suspect.report.id == report.id %}
                            <br>
                          <h5>URL: {{ suspect.url }}</h5>
                          <h5>IP: {{ suspect.ip }}</h5>
                          {% if suspect.score != -1 %}
                          <h5>Score: {{ suspect.score }}</h5>
                          {% endif %}
                          <h5>Matched By: {{ suspect.type_of_match }} </h5>

                      {% endif %}
                      {% endfor %}
                  </div>
              </div>
            </article>
        {% endfor %}
    {% else %}
        <p> Sorry there any no reports at the moment.</p>
    {% endif %}
{% endblock %}